/* CSS styles for term project by Steven Holthouser */
body {
background-color: #cad2c5
}

h1 {
color: #52796f;
margin-top: 120px;
margin-left: 100px;
font-family: 'Oswald', sans-serif;
padding-bottom: 10px;
text-align: center
}

p {
color: #2f3e46;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: center;
}

h3 {
color: #52796f;
margin-top: 65px;
padding-bottom: 10px;
font-family: 'Oswald', sans-serif;
text-align: center
}

img {
margin-top: 100px;
margin-right: 100px;
border: 8px solid #354f52;
vertical-align: top
}

a {
color: #84a98c
}